In [0]:
-- Find customers who placed orders above the average order amount
SELECT 
  DISTINCT c.first_name, c.last_name, o.total_amount
  FROM customers c join orders o ON c.customer_id = o.customer_id
WHERE o.total_amount > (SELECT AVG(o.total_amount) from orders o)

In [0]:
-- list all products that has been sold more than 5 times in total.
select distinct product_name, sum(quantity) from order_details
WHERE quantity > 2 group by product_name;

In [0]:
SELECT 
od.product_name, sum(od.quantity) as total_sold
FROM order_details od
GROUP BY od.product_name HAVING total_sold > (SELECT 2)

In [0]:
-- list the customers and their total quantity of products ordered.
WITH customer_orders AS (
  SELECT c.customer_id, c.first_name, SUM(od.quantity) as total_quantity
  FROM customers c JOIN order_details od ON c.customer_id = od.customer_id
  GROUP BY c.customer_id, c.first_name
)

SELECT * FROM customer_orders WHERE total_quantity>3

In [0]:
-- find products with their total sales revenue(price * quantity)
WITH product_sales AS (
  SELECT od.product_name, SUM(od.quantity * od.price_each) as total_revenue
  FROM order_details od
  GROUP BY od.product_name
)

SELECT * FROM product_sales WHERE total_revenue > 10000;

In [0]:
SELECT o.order_id, o.total_amount,
  CASE
    WHEN o.total_amount < 1000 THEN 'SMALL'
    WHEN o.total_amount BETWEEN 1000 AND 5000 THEN 'MEDIUM'
    ELSE 'LARGE'
  END AS order_size
FROM orders o

In [0]:
-- label customers as 'New' or 'Returning' based on order count
SELECT c.first_name, COUNT(o.order_id) AS total_orders,
  CASE
    WHEN COUNT(o.order_id) = 1 THEN 'New'
    WHEN COUNT(o.order_id) > 1 THEN 'Returning'
    ELSE 'No orders'
  END AS customer_type
FROM customers c LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.first_name;

In [0]:

SELECT UPPER(c.first_name) AS FIRST_NAME FROM customers c;

In [0]:
SELECT LOWER(c.first_name) AS FIRST_NAME FROM customers c;

In [0]:
SELECT CONCAT(c.first_name,' ', c.last_name) AS FULL_NAME FROM customers c;

In [0]:
-- extract month of each order and group orders by month
SELECT MONTH(o.order_date) AS order_month, COUNT(o.order_id) AS total_orders
FROM orders o
GROUP BY MONTH(o.order_date)
ORDER BY order_month;

In [0]:
-- list each customer's name + their total spent and spending category
WITH customer_spending AS (
  SELECT c.customer_id, CONCAT(c.first_name, ' ', c.last_name) AS customer_name, 
  SUM(od.quantity * od.price_each) AS total_spent
  FROM customers c JOIN order_details od ON c.customer_id = od.customer_id
  GROUP BY c.customer_id, customer_name
)

SELECT customer_name, total_spent,
  CASE
    WHEN total_spent < 10000 THEN 'Bronze'
    WHEN total_spent BETWEEN 10000 AND 20000 THEN 'Silver'
    ELSE 'Gold'
  END AS customer_tier
  FROM customer_spending;

In [0]:
-- Step 1: Create the table
CREATE TABLE sales_data (
    sale_id INT PRIMARY KEY,
    customer_id VARCHAR(10),
    product VARCHAR(50),
    amount INT,
    sale_date DATE,
    region VARCHAR(20)
);

-- Step 2: Insert the data
INSERT INTO sales_data (sale_id, customer_id, product, amount, sale_date, region)
VALUES 
(101, 'C001', 'Shoes', 2999, '2023-10-01', 'North'),
(102, 'C002', 'T-Shirt', 999, '2023-10-01', 'West'),
(103, 'C001', 'Watch', 5999, '2023-10-02', 'North'),
(104, 'C003', 'Bag', 1999, '2023-10-03', 'South');

In [0]:
-- Step 1: Create the table
CREATE TABLE customers_new (
    customer_id VARCHAR(10) PRIMARY KEY,
    customer_name VARCHAR(50),
    gender CHAR(1),
    city VARCHAR(50)
);

-- Step 2: Insert the data
INSERT INTO customers_new (customer_id, customer_name, gender, city)
VALUES 
('C001', 'Ravi', 'M', 'Mumbai'),
('C002', 'Priya', 'F', 'Delhi'),
('C003', 'Arjun', 'M', 'Bangalore');

In [0]:
select * from sales_data;

In [0]:
select * from customers_new;

In [0]:
-- join query to show customer name, product and region
SELECT c.customer_id, c.customer_name, s.product, s.region
FROM sales_data s JOIN customers_new c ON s.customer_id = c.customer_id;

In [0]:
-- count how many products each customer purchased
SELECT c.customer_id, c.customer_name, COUNT(DISTINCT s.product) AS num_products
FROM customers_new c JOIN sales_data s ON c.customer_id = s.customer_id GROUP BY c.customer_id, c.customer_name;

In [0]:
-- get all the female customers who made a purchase greater than 1000
SELECT c.customer_id, c.customer_name
FROM customers_new c JOIN sales_data s ON c.customer_id = s.customer_id
WHERE c.gender = 'F' AND s.amount > 1000;

In [0]:
-- identify cities with total purchase amount
SELECT city, SUM(amount) AS total_purchase
FROM customers_new c JOIN sales_data s ON c.customer_id = s.customer_id
GROUP BY city ORDER BY total_purchase DESC;